<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  id="selectionPage" rel="stylesheet" href="style/style.css" disabled>
    <link id="rooms" rel="stylesheet" href="style/styleRoom.css">
    <script src="/socket.io/socket.io.js" ></script>
    <script src="script/GameListener.js" defer></script>
    <script src="script/roomGestion.js" defer></script>
    <script src="script/tabGeneration.js" defer></script>
    <script src="script/boatManagement.js" defer></script>
    <script src="script/main.js" defer></script>
    <title>Bataille Navale</title>
</head>
<body>
    <header>
        <h1>Bataille Navale</h1>
    </header>

    <main>
        <!-- Formulaire Pseudo : ID -->
        <div id="connexion">
            <form id="formulaire">
                <label for="pseudo"> Pseudo :</label>
                <input type="text" id="pseudo" required>
                <label for="roomId">ID :</label>
                <input type="text" id="roomId">
                <button type="submit">Rejoindre</button>
                <p>L'ID est optionnel et doit faire exactement 5 caractères !</p>
            </form>
        </div>

        <!-- Rond d'attente -->
        <div id="wait" class="caché">
            <p>Attente de l'adversaire</p>
            <p class="temp">Room ID : <span id="rId"></span></p>
            <div class="loading-circle"></div>
            <button class="temp" id="copier">Copier</button>
        </div>

        <!-- Texte qui indique à qui c'est le tour de jouer -->
        <div id="turn">
            <p class="turn"></p>
        </div>

        <!-- Selection des bateaux -->
        <div id="selection">
            <div id="selectBoat">
                <div id="ship-list">
                    <div class="ship" id="porteAvion" data-size="5">⛴️ Porte-avions</div>
                    <div class="ship" id="cuirasse" data-size="4">🚢 Cuirassé</div>
                    <div class="ship" id="croiseur" data-size="3">🛥️ Croiseur</div>
                    <div class="ship" id="sousMarin" data-size="3">🚤 Sous-marin</div>
                    <div class="ship" id="destroyer" data-size="2">🛶 Destroyer</div>
                </div>

                <!-- Gère le jeu, permet d'abord la sélection des bateaux, puis l'affichage de l'adversaire une fois la partie lancée -->
                <div class="game">

                    <!-- Menu pour la liste des bateaux à poser -->
                    <div id="boat"></div>

                    <!-- Grille où apparaissent les bateaux du joueur -->
                    <div id="player">
                        <div class="title">=> Click gauche pour posez vos bateaux et click droit pour les orienter !!!</div>
                        <table class="bataille-navale">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <!-- Grille de jeu de l'adversaire -->
                    <div id="adversaire">
                        <div class="titleAdv"></div>
                        <table class="bataille-navale">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div> 
            </div>

            <!-- Le bouton pour valider -->
            <div id="validateBtn">
                <p></p>
                <button id="submit-btn">Valider la flotte</button>
            </div>
        </div>
    </main>

    <footer>
        <a href="https://archlinux.org/" target="_blank">Mentions Légales</a>
        <p>Pas de triche sinon Ban PERM !!!</p>
    </footer>
</body>
</html>
