<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bataille Navale</title>
    <link rel="stylesheet" href="style/style.css">
    <script src="script/génerationtab.js" defer></script>
    <script src="script/dropShip.js" defer></script>
    <script src="script/main.js" defer></script>
</head>
<body>
    <header>
        <h1>Bataille Navale</h1>
    </header>
    <main>
        <div class="container">
            <div id="ship-list">
                <div class="ship" id="porteAvion" data-size="5">⛴️ Porte-avions</div>
                <div class="ship" id="cuirasse" data-size="4">🚢 Cuirassé</div>
                <div class="ship" id="croiseur" data-size="3">🛥️ Croiseur</div>
                <div class="ship" id="sousMarin" data-size="3">🚤 Sous-marin</div>
                <div class="ship" id="destroyer" data-size="2">🛶 Destroyer</div>
            </div>
              
            <div class="game">
                <!--Choix des bateuax-->
                <div id="boat"></div>
                <!-- Grille Joueur -->
                <div id="player">
                    <div class="title">Posez vos bateau !</div>
                    <table class="bataille-navale">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div>
            <button id="submit-btn">Valider la flotte</button>
        </div>
    </main>
    <footer>
        <a href="http://lucas-larre.fr" target="_blank">Mentions Légales</a>
        <p>Pas de triche sinon Ban PERM !!!</p>
    </footer>
</body>
</html>